bcrypt==3.1.4
certifi==2018.11.29
cffi==1.11.4
chardet==3.0.4
Django==2.1.5
django-registration-redux==2.2
idna==2.8
Pillow==5.0.0
pycparser==2.18
pytz==2018.3
requests==2.21.0
six==1.11.0
urllib3==1.24.1
