{% extends 'rango/base.html' %}
	{% load staticfiles %}

	{% block title_block %}
	   About
	{% endblock %}

	{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
	 		<h1 class="jumbotron-heading">About Rango</h1>
		</div>
	</div>

<div class="container">
	<div class="row">
		Rango says here is the about page.
		<br/>
		This tutorial has been put together by Leif and David!
		<br/>
		The number of times you have visited this site: {{ visits }}
	</div>

    </div>

  <div class="container">
  	<div class="row">
	<img src="{{ MEDIA_URL}}cat.jpg"  alt="The cat from rango"/>

    </div>
 </div>
	{% endblock %}



