{% extends 'rango/base.html' %}
	{% load staticfiles %}

	{% block title_block %}
	   About
	{% endblock %}

	{% block body_block %}
	    {% if category %}
	        <h1>{{ category.name }}</h1>

	        {% if pages %}
	            <ul>
	            {% for page in pages %}
	                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
	            {% endfor %}
	            </ul>
	        {% else %}
	            <strong>No pages currently in category.</strong>
	        {% endif %}
	        <a href="{% url 'rango:add_page' category.slug %}">Add a Page</a>
	    {% else %}
	        The specified category does not exist!
	    {% endif %}
	{% endblock %}



	{% load staticfiles %} <!-- New line -->
	<!DOCTYPE html>
	<html>
	
	    <head>
	        <title>Rango - About</title>
	    </head>
	
	    <body>
    <h1>About Rango</h1>
    
    <div>
		Rango says here is the about page.  <br/> <a href='/rango/'>Index</a>
		
    </div>
    
    <div>
	<img src="{{ MEDIA_URL}}cat.jpg"  alt="The cat from rango"/>

This tutorial has been put together by Leif and David!
    </div>
	    </body>
	
	</html>
