{% extends 'rango/base.html' %}
	{% load staticfiles %}

	{% block title_block %}
	   About
	{% endblock %}

	{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
	 		<h1 class="jumbotron-heading">About Rango</h1>
		</div>
	</div>

<div class="container">
	<div class="row">
		Rango says here is the about page.
		<br/>
		This tutorial has been put together by Leif and David!
		<br/>
		The number of times you have visited this site: {{ visits }}
	</div>

    </div>

 <div class="container">
 	<div class="row p-3">
        <p>The button below uses inline javascript - which is pretty nasty - always remember to separate your concerns.</p>
        </div>
        <div class="row">
        <button  class="btn btn-primary" 
    onClick="alert('You clicked the button using inline JavaScript.');"> 
    Click Me - I run JavaScript 
    </button>
    
</div>
<div class="row p-3">
    <p>The button below uses JQuery, so the javascript code is neatly tucked away in our js scripts and not inline in the HTML template code.</p>
    </div>
    <div class="row">
	<button  class="btn btn-primary" id="about-btn"> 
	    Click Me - I'm JavaScript on Ice
    </button>

    </div>
    
    <div class="row p-3" id="msg">Hello  - I'm here for a JQuery Example too</div>
    
 </div>




  <div class="container p-3">
  	<div class="row">
	<img src="{{ MEDIA_URL}}cat.jpg"  alt="The cat from rango"/>



	{% endblock %}



