	{% extends 'rango/base.html' %}
	{% load staticfiles %}
	
	{% block title %} Search {% endblock %}
	
	{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
	 		<h1 class="jumbotron-heading">Search with Rango</h1>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
	
	    <form class="form-inline" id="user_form" 
	          method="post" action="{% url 'rango:search' %}">
	        {% csrf_token %}
	        <div class="form-group">
	            <input class="form-control" type="text" size="40" 
	                   name="query" value="{{query}}" id="query" />
	        </div>
	        <button class="btn btn-primary" type="submit" name="submit"
	                value="Search">Search</button>
	    </form>
	    
	    <div>
	        {% if result_list %}
	        <h3>Results</h3>
	        <!-- Display search results in an ordered list -->
	        <div class="list-group">
	        {% for result in result_list %}
	            <div class="list-group-item">
	                <h4 class="list-group-item-heading">
	                    <a href="{{ result.link }}">{{ result.title }}</a>
	                    </h4>
	                    <p class="list-group-item-text">{{ result.summary }}</p>
	            </div>
	        {% endfor %}
	        </div>
	        {% endif %}
	    </div>
	</div>
	</div>	
	{% endblock %}